<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" http-equiv="Permissions-Policy" content="interest-cohort=()">
    <link rel="stylesheet" href="/css/style.css">
    <title>Expenses</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="expenses.html">Expenses</a></li>
        <li><a href="incomes.html">Incomes</a></li>
      </ul>
      <h1>Expenses</h1>
    </header>

    <section>
      <h3>Add New expense</h3>
      <ul class="NewExp">
        <span>Date/Time</span>
          <input type="date" name="date" id="inputdate">
          <input type="time" name="time" id="inputtime">
        <span>Tag</span>
          <input type="text" name="tag" id="inputtag">
        <span>Amount</span>
          <input type="number" name="amount" id="inputamount">
        <button type="Save" name="save" id="savebtn">Save</button>
      </ul>
    </section>

    <footer>
      <h3>Expenses List</h3>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Tag</th>
          <th scope="col">Amount</th>
          <th scope="col">
            <button type='delete' name="delete" id="deletebtn">Delete</button>
            <button type='edit' name="edit" id="editbtn">Edit</button>
            <script src="/js/data.js" type="text/javascript"></script>
          </th>
       </tr>
     </thead>
     <tbody class="table_body">
       <% historyExpList.forEach(expList => { %>
       <tr>
         <th><p><%= expList.date %></p></th>
         <td><p><%= expList.time %></p></td>
         <td><p><%= expList.tag %></p></td>
         <td><p><%= expList.amount %></p></td>
         <td>
           <input id="checkbox" type="checkbox" value="<%= expList._id %>" onclick="selected()" unchecked>
         </td>
      </tr>
      <% }) %>
     </tbody>
     </table>
   </footer>
  </body>
</html>