<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" http-equiv="Permissions-Policy" content="interest-cohort=()">
    <link rel="stylesheet" href="/css/style.css">
    <title>Incomes</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="expenses.html">Expenses</a></li>
        <li><a href="incomes.html">Incomes</a></li>
      </ul>
      <h1>Incomes</h1>
    </header>

    <section>
      <h3>Add New incomes</h3>
      <ul class="NewInc">
        <span>Date/Time</span>
          <input type="date" name="date" id="inputdate_Inc">
          <input type="time" name="time" id="inputtime_Inc">
        <span>Tag</span>
          <input type="text" name="tag" id="inputtag_Inc">
        <span>Amount</span>
          <input type="number" name="amount" id="inputamount_Inc">
        <button type="Save" name="save" id="savebtn_Inc">Save</button>
      </ul>
    </section>

    <footer>
      <h3>Incomes List</h3>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Tag</th>
          <th scope="col">Amount</th>
          <th scope="col">
            <button type='delete' name="delete" id="deletebtn_Inc">Delete</button>
            <button type='edit' name="edit" id="editbtn_Inc">Edit</button>
            <script src="/js/app_inc.js" type="text/javascript"></script>
          </th>
       </tr>
     </thead>
     <tbody class="table_body">
       <% historyIncList.forEach(incList => { %>
       <tr>
         <th><p><%= incList.date %></p></th>
         <td><p><%= incList.time %></p></td>
         <td><p><%= incList.tag %></p></td>
         <td><p><%= incList.amount %></p></td>
         <td>
           <input class="checkbox_inc" type="checkbox" value="<%= incList._id %>" onclick="selectedInc()" unchecked>
         </td>
      </tr>
      <% }) %>
     </tbody>
     </table>
   </footer>
  </body>
</html>